# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# Node / tooling (only if you use npm, bundlers, etc.)
node_modules/
dist/
build/
.cache/

# Sass cache (if using Sass)
.sass-cache/
